# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.elf
*.bin
*.d

*.sublime-project
*.sublime-workspace

.libopencm3_built

application/stenosaurus

.DS_Store
